<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>shenyibo.life-node</title>
	<meta name="keywords" content="shenyibo.life" />
	<meta name="description" content="element-ui、egg.js、mysql、redis、node.js" />
<body style="padding-left: 40px;">
	<h1>不忘初心</h1>
	<h1>方得始终</h1>
	<h3 style="padding-left: 50px;"><a style="color: black;" href="www.shenyibo.life" target="_block"> www.shenyibo.life </a></h3>
</body>

</html>
